/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family:'Roboto', sans-serif, 'Open Sans','Roboto Condensed','Oswald','Lato';
  line-height: 1.6;
	color: #3a3a3a;
	background-color: #e5e5e5;
	margin: 0;
}

p {
	text-align: center;
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight:900;
	padding-top: 2.75rem;
  margin-bottom: 2.75rem;
}

h2 {
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	margin: 1.4375rem 0 0 0;
}

ul {
	padding: 0;
	margin: 0;
}
ul,
li,
a {
	list-style-type: none;
	text-decoration: none;
}

img {
width: 100%;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	  font-size: 1.25rem;
		margin: 0;
	}

.name,
.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav li {
	background: #fff;
}


.main-nav a{
	font-size: .95em;
	color: #310c0c;
}

.main-nav a:hover {
	color: #842121;
}

/*===PORTFOLIO====*/

.portfolio-section {
	background-color: white;
}

#portfolio-order{
	margin-top: 20px;
}

#portfolio-order,
.portfolio-section,
.portfolio-image {
	display: inline-block;
	text-align: center;
	margin: 2px;
	padding-right: 2px;
}

#portfolio-order,
.portfolio-image {
	width: 390px;
}


/*===ABOUT===*/
.about-section p{
	text-align: center;
	font-size: 1rem;
	color: #521515;
	opacity: .5;

}

.col {
	width: 100%;
	margin-right: -4px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 3em;
	vertical-align: top;
}

/*===CONTACT====*/

.main-contact {
	padding: 4em 0;
	margin: 2.5em auto 0;
}

.main-contact p {
	text-align: center;
	font-size: 1rem;
	color: #521515;
}

#contact a {
	text-align: center;
	font-size: 1rem;
	color: #521515;
	opacity: .5;
}





/*===FOOTER====*/

.footer-name {
	  font-size: 1.25rem;
		margin: 0;
}
.footer-name,
.footer-nav a{
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.footer-nav a{
	font-size: .95em;
	color: #310c0c;
}

.footer-nav a:hover {
	color: #842121;
}

.footer-name {
	float: left;
}

.footer-nav {
	float: right;
}

.footer-name,
 #access_top {
	padding: 14px 15px;
	text-align: center;
	display: inline-block;
}


#footer-nav {
	display: none;
}




/* ---- Layout Containers ---- */


.container{
	padding-left: 1em;
	padding-right: 1em;
	background-color: #f2f2f2;
}



.main-header {
	padding-top: 0em;
	padding-bottom: 0em;
}


.pages {
	background-color: white;
	padding: 1em;
	margin: 0em;
}


.t-border {
	border-top: .2px solid lightgrey;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {
	.container{
		max-width: 1000px;
		margin: 0 auto;
}
/* ===============================
  Main Nav and Footer Navigation
================================== */
	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		float: left;
		margin-left: 12px;
		background: none;
	}

	.name,
	.main-nav a{
		padding: 10px 15px;
		text-align: center;
		display: block;
	}

	.main-nav a{
		font-size: .95em;
	}

	.portfolio-img {
		width: 300px;
		float: right;
		margin-top: 5px;
		margin-left: 25px;
		margin-bottom: 25px;
	}

	.footer-nav {
		float: right;
	}

	.main-nav a{
		font-size: .95em;
	}

	.footer-nav li {
		float: left;
		margin-left: 12px;
		background: none;
	}

	.footer-nav a{
		font-size: .95em;
		color: #310c0c;
	}

	.footer-nav a:hover {
		color: #842121;
	}


	.footer-name,
	.footer-nav a{
		padding: 10px 15px;
		text-align: center;
		display: block;
		margin: 4px;
		padding-right: 4px;
	}

	.footer-name {
		float: left;
	}

 #footer-nav {
	 display: list-item;
 }

 #access_top {
 	display:none;
 }

 /*====PORTFOLIO=====*/

 #portfolio-order{
	 margin-top: 20px;
 }


 .portfolio-section,
 .portfolio-image {
	 display: inline-block;
	 text-align: center;
	 margin: 5px;
	 padding-right: 5px;
 }

 #portfolio-order,
 .portfolio-image {
	 width: 290px;
 }

 /*===ABOUT===*/
 .about-section p{
 	text-align: center;
 	font-size: 1rem;
 	color: #521515;
 	opacity: .5;

 }

 .col {
 	display: inline-block;
 	width: 50%;
 	margin-right: -4px;
 	padding-left: 1.5em;
 	padding-right: 1.5em;
 	padding-bottom: 1.5em;
 	margin-bottom: 5em;
 	vertical-align: top;
 }

/*===CONTACT====*/


.contact p {
	font-size: 1rem;
	text-align: center;
	color: #521515;
	opacity: .5;

}

.contact ul {
	text-align: center;
	margin-bottom: 5em;
}

.contact li {
	display: inline;
	list-style: none;
	margin: 0 .375rem;
}


.contact li,
.contact a {
	text-align: center;
}
.contact a {
	font-weight: 600;
	color: rgba(142,127,127,1);
}

/*=====clearfix===*/
  .clearfix::after {
		content: " ";
		display: table;
		clear: both;
}

@media (min-width: 1025px) {

	.container{
		max-width: 1000px;
		margin: 0 auto;
	}
	/* ===============================
							Main Nav
	================================== */
	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		float: left;
		margin-left: 12px;
		background: none;
	}

	.name,
	.main-nav a{
		padding: 10px 15px;
		text-align: center;
		display: block;
	}

	.main-nav a{
		font-size: .95em;
	}

/*==BANNER====*/
	.portfolio-img {
		width: 300px;
		float: right;
		margin-top: 5px;
		margin-left: 25px;
		margin-bottom: 25px;
	}

/*===Footer====*/
	.footer-nav {
		float: right;
	}

	.main-nav a{
		font-size: .95em;
	}

	.footer-nav li {
		float: left;
		margin-left: 12px;
		background: none;
	}

	.footer-nav a{
		font-size: .95em;
		color: #310c0c;
	}

	.footer-nav a:hover {
		color: #842121;
	}


	.footer-name,
	.footer-nav a{
		padding: 10px 15px;
		text-align: center;
		display: block;
		margin: 4px;
		padding-right: 4px;
	}

	.footer-name {
		float: left;
	}

	#nav {
	 display: list-item;
	}

	#back {
	 display: none;
	}

	/*====PORTFOLIO=====*/

	#portfolio-order{
	 margin-top: 20px;
	}


	.portfolio-section,
	.portfolio-image {
	 display: inline-block;
	 text-align: center;
	 margin: 5px;
	 padding-right: 5px;
	}

	#portfolio-order,
	.portfolio-image {
	 width: 290px;
	}

	/*===ABOUT===*/
	.about-section p{
		text-align: center;
		font-size: 1rem;
		color: #521515;
		opacity: .5;

	}

	.col {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 1.5em;
		margin-bottom: 5em;
		vertical-align: top;
	}
	/*===CONTACT====*/


	.contact p {
	font-size: 1rem;
	text-align: center;
	color: #521515;
	opacity: .5;

	}

	.contact ul {
	text-align: center;
	margin-bottom: 5em;
	}

	.contact li {
	display: inline;
	list-style: none;
	margin: 0 .375rem;
	}

	.contact li,
	.contact a {
	text-align: center;
	}
	.contact a {
	font-weight: 600;
	color: rgba(142,127,127,1);
	}

}
